* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212121;
}

.container {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.container .glass {
    position: relative;
    width: 180px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, .1);
    background: linear-gradient(#fff2, transparent);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r)*1deg));
}

.container:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
}

.container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
}

.container .glass span {
    color: #fff;
    font-size: 3em;
}