* {
    margin: 0%;
    padding: 0%;
}

html,body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: rgb(201, 201, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 320px;
    width: 220px;
    border: 1px solid black;
    background-color: black;
    border-radius: 8px;
    display: block;
}

.calculator-display {
    height: 65px;
    width: 219px;
    border: 1px solid black;
    background-color: rgb(44, 40, 40);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.calculator-display input {
    height: 65px;
    width: 100%;
    background-color: rgb(44, 40, 40);
    border: none;
    padding: 15px;
    color: white;
    font-size: 25px;
}

.button {
    display: grid;
    grid-template-columns: repeat(4, 45px); /* 4 buttons per line */
    gap:6px; /*buttons ke beech ka space*/
    margin-left: 13px;
    margin-top: 10px;
    text-align: center;
    font-style: oblique;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 30%;
    border: 1px solid white;
}

#text-element {
    margin-right: 40px;
}

.btn-color1 {
    background-color: orange;
}

.btn-color2 {
    background-color: navy;
}

.btn-color3 {
    background-color: gray;
}

.btn-color4 {
    background-color: rgb(133, 30, 207);
}

.btn-color5 {
    height: 40px;
    width: 90px;
    border-radius: 30px;
    background-color: rgb(65, 57, 57);
}

.btn-color6 {
    background-color: mediumslateblue;
}