* {
    margin: 0.00003%;
    padding: 0%;
}

html,body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(233,155,250);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: absolute;
    /* overflow: hidden; */
    height: 280px;
    width: 200px;
    border: 1px solid rgb(55,122,190);
    background-color: rgb(55,122,190);
    border-radius: 12px;
}

#card1 {
    border: 1px solid white;
    background-color: white;
    z-index: 2;
}

#card2 {
    rotate: -6deg;  
}

h2 {
    text-align: left;
    margin-top: 15px;
    margin-left: 19px;
}

#name {
    margin-top:10px;
    margin-left: 19px;
}

#box {
    height: 22px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pass {
    margin-top: 10px;
    margin-left: 19px;
}

#box1 {
    height: 22px;
    width: 160px;
}

#box2 {
    border: 1px solid rgb(55, 122, 190);
    background-color: rgb(55, 122, 190);
    height: 30px;
    width: 60px;
    border-radius: 8px;
    color: white;
    margin-top: 12px;
    margin-left: 19px;
}

#box3 {
    height: 25px;
    width: 160px;
    color: rgb(33, 216, 216);
    text-align: center;
    margin-top: 20px;
    margin-left: 19px;
}