* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text {
    color: white;
    font-family: sans-serif;
}

.ring {
    width: 190px;
    height: 190px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid transparent;
    --color: #ff8df9;
    --colors: #4e57ff;
    border-top: 8px solid var(--colors);
    border-bottom: 8px solid var(--color);
    animation: rotate1 1.1s linear infinite;
}

@keyframes rotate1 {
    from {
        transform: rotateX(50deg) rotateZ(110deg);
    }
    to {
        transform: rotateX(50deg) rotateZ(470deg); 
    }
}

.ring:nth-child(2) {
    --color: #ff416a;
    --colors: #B2FFFF;
    animation-name: rotate2;
}

@keyframes rotate2 {
    from {
        transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }
    to {
        transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg); 
    }
}

.ring:nth-child(3) {
    --color: springgreen;
    --colors: #f666a5;
    animation-name: rotate3;
}

@keyframes rotate3 {
    from {
        transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }
    to {
        transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg); 
    }
}

.ring:nth-child(4) {
    --color: #d0f030;
    --colors: #eeb04c;
    animation-name: rotate4;
}

@keyframes rotate4 {
    from {
        transform: rotateX(70deg) rotateZ(270deg);
    }
    to {
        transform: rotateX(70deg) rotateZ(630deg); 
    }
}