* {
    margin: 0;
    font-family: Arial;    
    box-sizing: border-box;
}

html,body {
    background-color: #F2F3F4;
}

/* <------------------NAVBAR-CONTENT------------------> */

.navbar {
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0px;
}

.nav-logo {
    height: 80px;
    width: 200px;
} 

.logo {
    background-image: url(images.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: #F0F8FF;
    width: 50%;
    height: 40px;
    border-radius: 4px;
}

.nav-search input {
    background-color:#F0F8FF ;
    border-top-right-radius:8px ;
    border-bottom-right-radius:8px ;
}

.search-input {
    width: 100%;
    font-size: larger;
    border: none;
}

.search-icon {
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F8FF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 1.4rem;
    color: #BEBFC5;
    text-align: center;
}

.icon i {
    margin: 30px;
    margin-right: 5px;
    font-size: xx-large; 
}

.icon-element span {
    margin: 0 20px;
    font-size: 1.1rem;
    cursor: pointer;
}

.icon-element i {
    margin-right: 5px;
    font-size: 1.4rem;
}

/* <--------------------MAIN-CONTANT-BOX1--------------------> */

.nav-first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-second {
    width: 1532px;
    margin-top: 100px;
    background-color: white;
    display: block;
}

.element {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.element img {
    margin-top: 12px;
}

.element p {
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.box {
    height: 266px;
    width: 1532px;
    background-color: rgb(18, 2, 2);
    background-image: url(image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0px 0px 190px;
}

/* <-----------------MAIN-CONTENE-BOX2-----------------> */

.page {
    display: flex;
}

.box1 {
    height: 373px;
    width: 1270px;
    background-color: aqua;
    margin: 20px 0px 0px 190px;
}

.box2 {
    height: 62px;
    width: 1270px;
    background-color: white;
}

.box2 h2 {
    padding: 16px;
    color: #1f1f1f;
}

.card {
    height: 373px;
    width: 250px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: white;
    background-image: url(flight.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.box3 {
    height: 312px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.element1, .element2, .element3, .element4, .element5 {
    height: 260px;
    width: 220px;
    border: 1px solid rgb(165, 30, 30);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card, .small-card1, .small-card2, .small-card3, .small-card4 {
    height: 235px;
    width: 200px;
    border: 1px solid white;
    border: none;
    padding: 12px 24px;
}

.small-img {
    height: 155px;
    background-image: url(image_5.jpg);
    background-size: contain;
    background-repeat: no-repeat;  
}

.small-img1 {
    height: 175px;
    background-image: url(clock.webp);
    background-size: contain;
    background-repeat: no-repeat;  
}

.small-img2 {
    height: 155px;
    background-image: url(helmet.webp);
    background-size: contain;
    background-repeat: no-repeat;  
}

.small-img3 {
    height: 155px;
    background-image: url(original.webp);
    background-size: contain;
    background-repeat: no-repeat;  
}

.small-img4 {
    height: 155px;
    background-image: url(ipad.webp);
    background-size: contain;
    background-repeat: no-repeat;  
}

.small-card h5, .small-card2 h5, .small-card3 h5, .small-card4 h5 {
    padding: 12px 0px 0px;
}

.small-card p, .small-card1 p, .small-card2 p, .small-card3 p, .small-card4 p {
    text-align: center;
    font-weight: 600;
}

.small-card h5, .small-card1 h5, .small-card2 h5, .small-card3 h5, .small-card4 h5 {
    text-align: center;
}

.small-card1 h5 {
    padding: 6px 0px 0px;
}

/* <------------------MAIN-CONTENT-BOX3------------------> */

.card1 {
    display: flex;
    margin: 20px 0px 0px 190px;
}

.box5 {
    height: 80px;
    width: 523px;
    background-color: white;
    padding: 25px;
    display: flex;
}

.box5 .circle , .box8 .circle {
    margin-left: 210px;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #2a55e5;
    border-radius: 50%;
}

.small-circle {
    height: 16px;
    width: 16px;
    background-color: #2a55e5;
    color: #fff;
    font-size: larger;    
}

.circle, .small-circle {
    border: 1px solid brown;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box6 {
    height: 615px;
    width: 523px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 45px);
    column-gap: 210px;
    row-gap: 10px;
    padding: 0px 12px 12px ;
}

.box7 {
    margin-left: 16px;
}

.box8 {
    height: 80px;
    width: 523px;
    background-color: white;
    padding: 25px;
    display: flex;
}

.box9 {
    height: 615px;
    width: 523px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 45px);
    column-gap: 210px;
    row-gap: 10px;
    padding: 0px 12px 12px ;
}

.small-box {
    height: 297.33px;
    width: 241.33px;
    border: 0.2px solid #F4F0EC;
    padding: 16px 16px 16px 16px;
    border-radius: 4px;
}

.small-box1 {
    height: 297.33px;
    width: 241.33px;
    border: 0.5px solid #F4F0EC;
    padding: 16px 16px 16px 16px;
    border-radius: 4px;
}

.small-box2 {
    height: 297.33px;
    width: 241.33px;
    border: 0.5px solid #F4F0EC;
    padding: 16px 16px 16px 16px;
    border-radius: 4px;
}

.small-box3 {
    height: 297.33px;
    width: 241.33px;
    border: 0.5px solid #F4F0EC;
    padding: 16px 16px 16px 16px;
    border-radius: 4px;
}

h4 {
    color: #108914;
}

h3 {
    padding-top: 16px;
}

.img {
    height: 206px;
    width: 206px;
    background-image: url(shoes.jpg);
    background-size: cover;
}

.img1 {
    height: 206px;
    width: 206px;
    background-image: url(man.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.img2 {
    height: 206px;
    width: 206px;
    background-image: url(image2.webp);
    background-size: cover;
}

.img3 {
    height: 206px;
    width: 206px;
    background-image: url(man_jacket.webp);
    background-size: cover;
}

.img4 {
    height: 695px;
    width: 460px;
    background-image: url(image1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 16px;
}

/* <--------------------MAIN-CONTENT-BOX4--------------------> */

.card2 {
    margin: 20px 0px 0px 190px;
}

.box10 {
    height: 80px;
    width: 1535px;
    padding: 25px;
    background-color: white;
}

.box11 {
    height: 264px;
    width: 1535px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.small-box5 {
    height: 252px;
    width: 200px;
    border: 0.5px solid #F4F0EC;
    padding: 16px 16px 16px 16px;
    border-radius: 4px;
}

.small-box6 {
    height: 252px;
    width: 200px;
    border: 0.5px solid #F4F0EC;
    padding: 16px 16px 16px 16px;
    border-radius: 4px;
}

.small-box7 {
    height: 252px;
    width: 200px;
    border: 0.5px solid #F4F0EC;
    padding: 16px 16px 16px 16px;
    border-radius: 4px;
}

.small-box8 {
    height: 252px;
    width: 200px;
    border: 0.5px solid #F4F0EC;
    padding: 16px 16px 16px 16px;
    border-radius: 4px;
}

.small-box9 {
    height: 252px;
    width: 200px;
    border: 0.5px solid #F4F0EC;
    padding: 16px 16px 16px 16px;
    border-radius: 4px;
}

.small-box10 {
    height: 252px;
    width: 200px;
    border: 0.5px solid #F4F0EC;
    padding: 16px 16px 16px 16px;
    border-radius: 4px;
}

.small-box11 {
    height: 252px;
    width: 200px;
    border: 0.5px solid #F4F0EC;
    padding: 16px 16px 16px 16px;
    border-radius: 4px;
}

.img5 {
    height: 170px;
    width: 170px;
    background-image: url(image_5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img6 {
    height: 170px;
    width: 170px;
    background-image: url(image_8.jpg);
    background-size: cover;
}

.img7 {
    height: 170px;
    width: 170px;
    background-image: url(image_6.jpg);
    background-size: cover;
}

.img8 {
    height: 170px;
    width: 170px;
    background-image: url(image_7.jpg);
    background-size: cover;
}

.img9 {
    height: 170px;
    width: 170px;
    background-image: url(realme.webp);
    background-size: cover;
}

.img10 {
    height: 170px;
    width: 170px;
    background-image: url(image_9.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img11 {
    height: 170px;
    width: 170px;
    background-image: url(Home.webp);
    background-size: cover;
} 

/* <-----------------FOOTER-CONTENT----------------->*/

.foot-panel1 {
    background: #242124;
    padding: 40px 20px;
    margin-top: 40px;
    border-bottom: 0.1px solid #979899;
}

.foot-element {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.foot-box, .foot-box1, .foot-box2,
.foot-box3, .foot-box4, .foot-box5 {
    width: 250px;
    text-align: left;
}

.foot-box a, .foot-box1 a, .foot-box2 a, .foot-box3 a {
    display: block;
    color: #ffffff;
    font-size: 14px;
    margin: 5px 0;
}

h6 {
    color: #878787;
}

.foot-element p {
    color: #ffffff;
    font-size: 13px;
}

.foot-social i {
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
}

.foot-panel2 {
    background: #242124;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.foot-box5 a {
    color: #2874c0;
}  

.foot-element a {
    font-size: 0.7rem;
    font-weight: 700;
}

.foot-element p {
    font-size: 0.79rem;
}

.foot-element h6 {
    margin-bottom: 12px;
}

.foot-social h6 {
    margin-top: 12px;
}

.foot-social i {
    margin-top: 8px;
    font-size: x-large;
}

.foot-box4 p, .foot-box5 p {
    margin: 5px 0;
}

.foot-element1 i {
    color: #FFDB58;
    font-size: 0.65rem;
}

.foot-panel2 {
    font-size: 0.79rem;
}

.foot-element1 {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }
    
    .nav-search {
        width: 90%;
    }
}