*{
    margin:0%;
    padding:0%;
}
html,body{
    background-color:aqua;
    width: 100%;
    height:100%;
}
#main{
     width:100%;
    height:100%;
    display: flex;
    
    align-items: center;
    justify-content: center; 
}
.Game{
    margin: 0.05%;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center; 
}
#square:hover{
    background-color: blue;
    border-radius: 35%;
}