*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(73,99,150,0.5);
}
.main{
    display: flex;
    justify-content: center; 
}
#square{
    height: 250px;
    width: 300px;
    border: 1px solid white;
    background-color: aquamarine;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
#square:hover{
    background-color: rgb(38, 87, 177);
}