* {
    margin: 0%;
    padding: 0%;
}

html,body {
    height: 100%;
    width: 100%;
}

.front-page {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 800px;
    width: 1500px;
    border: 5px solid orangered;
    background: linear-gradient(to right,#1e1e1e,#f2f2f2);
}

.navbar {
    height: 70px;
    width: 100%;
    background: linear-gradient(to right, #3a3a3a, #5a5a5a); 
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.nav-element {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
} 

#nav-search {
    height: 30px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 700;
}

h4 {
    height: 30px;
    width: 60px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box {
    height: 450px;
    width: 380px;
    border: 1px solid black;
    background-color: black;
    border-radius: 15px;
    color: white;
    margin-bottom: 200px;
}
 
h1 {
    color:rgba(255, 166, 0, 0.849);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-word {
   margin-left: 80px;
}

.element {
    margin-top: 25px;
    margin-left: 100px;
}

#box1 {
    height: 35px;
    width: 230px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

#box2 {
    height: 35px;
    width: 230px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 700;
}

#box3 {
    height: 35px;
    width: 230px;
    border: none;
    background-color: orangered;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: large;
}

h2 {
    color: crimson;
    font-weight: 900;
    font-size: xx-large;
    margin-top: 10px;
}

h3 {
    font-weight: 800;
}

h5 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 45px;
    color: #00a2ffc7;
    font-size: large;
}

h6 {
    color: lightgreen;
    font-size: medium;
    margin-top: 15px;
    font-weight: bolder;
}

small {
    margin-left: 60px;
    font-size: medium;
    font-weight: 700;
}

.icon {
    text-align: center;
    font-size: x-large;
    margin-top: 25px;    
}

.icon i {
    width: 40px;                
    height: 40px;               
    margin: 8px;          
    font-size: 30px;           
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: red;   
    display: inline-flex;       
    justify-content: center;
    align-items: center;
}

.icon i:hover {
    background-color: steelblue;
    transition: 2s;
    transform: rotate(360deg);
}

.login-page {
    margin-top: 140px;
    margin-left: 150px;
}

.login-page1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph {
    margin-bottom: 200px;
}

big {
    color: white;
    font-weight: 600;
    font-size: larger;
}

.button {
    height: 40px;
    width: 150px;
    background-color: tomato;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
    color:white;
    font-size: large;
    font-weight: 700;
}

.button:hover {
    transition: 4s;
    background-color: rgb(255, 122, 99);
    color: rgb(243, 237, 237);
    font-weight: 800;
}