* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 10px;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(219, 201, 201);
    animation: sky 1.3s linear  infinite;

}

.circle:nth-child(1) {
    animation-delay: 0.2s;
}

.circle:nth-child(2) {
    animation-delay: 0.4s;
}

.circle:nth-child(3) {
    animation-delay: 0.6s;
}

.circle:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes sky {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}