* {
    margin: 0%;
    padding: 0%;
}

html,body {
    height: 100%;
    width: 100%;
}

.card {
    height: 100%;
    width: 100%;
    background-color: rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 700px;
    width: 1400px;
    border: 1px solid black;
    background-color: #1f1f1f;
    border-radius: 10px;
}

.navbar {
    height: 80px;
    width: 100%;
    border: 1px solid black;
    background-color: #242832;
    color: aliceblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

h2 {
    font-weight: bolder;
    color: coral;
}

h4 {
    color: aqua;
}

button {
    height: 40px;
    width: 80px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 20px;
}

button i {
    font-size: 1.5rem;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

img {
    height: 500px;
    margin:55px ;
    margin-left: 200px;
}

.word {
    color: white;
    margin-left: 100px;
    margin-top: 150px;
}

#cv {
    color: white;
    height: 45px;
    width: 130px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 0.9rem;
}

.box1 {
    margin-top: 25px;
    display: flex;
}

.box2 {
    display: flex;
}

h1 {
    color: rgb(32, 218, 91);
    font-weight: bolder;
    margin-bottom: 8px;
    font-size:xx-large;
}

h3 {
    font-weight: 800;
    margin-top: 8px;
    color: aquamarine;
}

#element-button {
    height: 45px;
    width: 45px;
    margin-left: 15px;
    border-radius: 50px;
    background-color: white;
}

#element-button i{
    margin-left: 2px;
}

i {
    font-size: xx-large;
}

.icon {
    margin-top: 160px;
    display: flex;
    justify-content: space-evenly;
}