*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

.card{
    height: 100%;
    width: 100%;
    background-color: rgba(112, 234, 234,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.card1{
    height: 600px;
    width: 400px;
    border: 1px solid white;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    display: block;
}
.element{
    margin-top: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input {
    height: 40px;
    width: 250px;
}
label{
    margin-right: 180px;
}
i{
    margin-top:0px;
}
.icon{
    margin-top: 100px;
}
button{
    height: 50px;
    width: 302px;
    color: white;
    background-color: rgba(234, 112, 210,1);
    border: 1px solid rgba(234, 112, 210, 0.5);
    border-radius: 10px;
    margin-top: 10px;
}
.box{
    margin-top: 20px;
}
.box1{
    margin-top: 20px;
}
.box2{
    margin-top: 40px;
}
h6{
    margin-left: 155px;
}
.box3{
    margin-right: 100px;
}