* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colors: #2E2E2E;
    --fonts: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif !important;
}

header {
    position: sticky;
    top: 0px;
}

.navbar {
    margin: 10px 0;
    padding: 10px 20px 0;
    background-color: white;
}

.nav {
    height: 100%;
    height: 80px;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 8px 16px;
    color: var(--colors);
    background-color: #f6f6f6;
    border: 1px solid #d0cccc;
    border-radius: 5px;
    font-family: var(--fonts);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.nav li {
    padding: 12px 11px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.nav li i {
    margin-left: 5px;
}

.button {
    height: 38px;
    width: 113px;
    color: var(--colors);
    font-size: 16px;
    font-family: var(--fonts);
    background-color: #ffd741;
    padding: 10px 23px 8px;
    border-radius: 4px;
    border: none;
    margin-right: 20px;
}

.button:hover {
    background-color: #ffdf6d;
}

.icon span {
    margin: 0 12px;
    font-size: larger;
}

.border:hover {
    background-color: #E5E4E2;
    border: 1px solid #d0cccc;
    cursor: pointer;
}

/* ------- Main Content ------- */

.big-box {
    width: 100%;
    max-width: 1900px;
    padding: 50px 20px;
}

.box {
    width: 100%;
    height: 1200px;
    max-width: 1350px;
    margin: 0 auto;
    padding: 15px 0 10px;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1 {
    font-size: 48px;
    padding-bottom: 10px;
    font-family: var(--fonts);
    color: #222222;
}

.box2 {
    width: 450px;
    margin: 0 auto;
}

.box2 h3 {
    color: gray !important;
    font-weight: 300;
    font-size: 18px;
    margin: 1em 0;
    line-height: 1.3em;
    padding-bottom: 10px;
}

.box3 {
    display: flex;
    justify-content: center;
}

.small-box {
    height: 50px;
    width: 330px;
    background-color: #ffd741;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.box4 {
    height: 75px;
    width: 705px;
    background-color: aquamarine;
    margin: 50px auto 37px;
    padding: 20px 0 0 67px;
}

.columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 24px;
    margin-top: 30px;
}

.column {
    border-radius: 8px;
    margin: 0 auto;
    width: 100%;
    max-width: 425px;
    height: 233px;
    padding: 20px;
    background-color: #f2f0ec;
    color: #222222;
}

.column h3,
.column h4 {
    text-align: center;
    padding-bottom: 10px;
}

.buttons {
    height: 45px;
    width: 170px;
    color: #2E2E2E;
    background-color: #ffd741;
    margin: 15px auto 0;
    padding: 10px 24px;
    text-align: center;
    border-radius: 6px;
}

.hash {
    text-align: center;
    font-size: 10px;
    margin-top: 40px;
}

/* ------- Newsletter Box ------- */

.big-boxs {
    height: 353px;
    padding: 13px 20px 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-boxs1 {
    width: 450px;
    height: 292px;
    background-color: #3b3b33;
}

.small-boxs1 h3 {
    margin-top: 90px;
    padding-bottom: 10px;
}

.small-boxs2 {
    width: 450px;
    height: 292px;
    background-color: #a4a42d;
    padding: 30px 67px;
    text-align: center;
}

.small-boxs2 input {
    height: 32px;
    padding: 10px;
    background-color: white;
    border: none;
}

/* ------- Info Section ------- */

.big-box1 {
    width: 100%;
    height: 300px;
    background-color: #f2f0ec;
    padding: 48px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element-box1 {
    height: 182px;
    width: 437px;
    margin-right: 27px;
}

.element-box2 {
    height: 182px;
    width: 463px;
}

.big-box1 h2 {
    padding: 0px 0px 10px;
}

.element-box1 a,
.element-box2 a {
    color: #977800;
}

/* ------- Footer Panel ------- */

.panel {
    height: 600px;
    background-color: #f2f0ec;
    padding: 70px 20px;
}

.panel1,
.panel2 {
    width: 100%;
    max-width: 1390px;
    background-color: #232323;
    margin: 0 auto;
}

.panel1 {
    height: 283px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 27px 37px 37px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.element-panel1 {
    color: white; 
    height: 218px;
    width: 482px;
    margin-right: 70px;
    font-family: var(--fonts);
    font-weight: 500;
}

.element-panel1 img {
    padding: 10px 10px;
}

.text {
    margin-top: 15px;
}

.element-panel1 p {
    line-height: 1.4em;
    text-align: left;
    margin-top: 20px;
}

.element-panel2 {
    height: 218px;
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 26px;
}

.element ul,
.element1 ul,
.element2 ul,
.element3 ul {
    list-style: none;
    color: #cccccc;
    line-height: 26px;
    font-family: var(--fonts);
}

.element h4,
.element1 h4,
.element2 h4,
.element3 h4 {
    color: #ffffff;
    padding-bottom: 10px;
    font-family: var(--fonts);
}

/* ------- Panel Bottom ------- */

.panel2 {
    height: 178px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 10px 37px 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-panel1,
.small-panel2 {
    height: 95px;
    width: 607px;
}

.small-panel1 {
    background-color: #232323;
}

.small-panel1 h4 {
    color: #ffffff;
    font-family: var(--fonts);
}

.small-panel1 p {
    padding-bottom: 10px;
    color: #BBBBBB;
    font-weight: 600;
    font-family: var(--fonts);
}

form {
    padding: 4px;
}

form input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: 600;
    background-color: #3b3b33;
    border: none;
}

.small-panel1 input {
    height: 35px;
    padding: 8px;
}

form button {
    height: 35px;
    padding: 6px 12px;
    background-color: #ffd741;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.small-panel2 {
    background-color: #232323;
    color: #BBBBBB;
    font-family: var(--fonts);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 100px;
}

@media (max-width: 600px) {

    .columns {
        grid-template-columns: 1fr;
    }

    .column {
        width: 100%;
    }

    .small-panel2 {
        margin-left: 0;
    }

    .big-box1,
    .panel,
    .box,
    .big-boxs {
        height: auto;
    }

    .big-boxs {
        flex-direction: column;
    }

    .nav {
        height: auto;             
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 12px;
    }

    .nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav li {
        padding: 8px 10px;
    }

    .button {
        margin-right: 0;
    }

    .big-box1 {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .element-box1,
    .element-box2 {
        width: 100%;
        margin-right: 0;
    }

    .panel1,
    .panel2 {
        align-items: center;
        text-align: center;
    }
}