*{
    margin: 0%;
    padding: 0%;
} 
html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(242, 0, 255, 0.62);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height:630px ;
    width: 1400px;
    border: 1px solid white;
    background-color: rgba(153, 0, 255, 0.877);
}
.box{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    column-gap: 5px;
    margin-top: 100px;
}
#box1{
    height: 410px;
    width: 300px;
    border: 2px solid aquamarine;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.circle{
    height: 180px;
    width: 180px;
    border: 1px solid rgb(152, 105, 105);
    border-radius: 50%;
    margin-bottom: 150px;
    display: block;
}
#box2{
    height: 410px;
    width: 600px;
    border: 2px solid aquamarine;
    background-color: aquamarine;
    border-radius: 10px;
}
#element{
    margin-top: 100px;
    margin-right: 100px;
}
.address{
    margin-top: 100px;
    row-gap: 10px;
    margin-left: 100px;
}