* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    background: #1d2d44;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #1565c0, #64b5f6);
    position: relative;
}

.container ul {
    width: 350px;
    display: flex;
}

.container ul li {
    width: 80px;
    height: 80px;
    z-index: 1;
    list-style: none;
    position: relative;
}

.container ul li a {
    width: 100%;
    position: relative;
    font-weight: 500;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container ul li a .icon {
    color: #fff;
    display: block;
    line-height: 75px;
    font-size: 1.6em;
    transition: 0.5s;
    position: relative;
}

.container ul li.active a .icon {
    transform: translateY(-36px);
}

.container ul li a .text {
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 1.3em;
    position: absolute;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s;
}

.container ul li.active a .text {
    opacity: 1;
}

.square {
    bottom: 56%;
    width: 75px;
    height: 75px;
    position: absolute;
    transform: rotate(-45deg);
    border: 5px solid #1d2d44;
    transition: 0.5s;
    background: linear-gradient(to right, #1565c0, #64b5f6);
}

.container ul li:nth-child(1).active ~ .square {
    left: 22px;
    transform: rotate(45deg);
}

.container ul li:nth-child(2).active ~ .square {
    left: 92px;
    transform: rotate(135deg);
}

.container ul li:nth-child(3).active ~ .square {
    left: 162px;
    transform: rotate(225deg);
}

.container ul li:nth-child(4).active ~ .square {
    left: 232px;
    transform: rotate(315deg);
}

.container ul li:nth-child(5).active ~ .square {
    left: 302px;
    transform: rotate(405deg);
}