* {
    margin:0%;
    padding:0%;
}

html,body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width:100%;
    background-color: rgb(141, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 240px;
    width: 400px;
    border: 1px solid white;
    background-color: white;
    display: flex; 
    border-radius: 10px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.word {
    margin-top: 36px;
}

img {
    margin: 22px;
    display: block;
}

#word1 {
    display: flex;
    margin-top: 10px;
}

#word2 {
    margin-left: 30px;
}

#word3 {
    margin-left: 30px;
}

#word4 {
    margin-top: 8px;
}

button {
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

#box1 {
    height: 30px;
    width: 90px;

}

#box2 {
    height: 30px;
    width: 90px;
    color: black;
    background-color: white;
}