.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    width: 100px;
    height: 100px;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* Media Query */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        background-color: cadetblue;
    }

    .box {
        width: 80%;
        background-color: brown;
    }
}