* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a855f7;
}

span {
    position: relative;
    color: white;
    top: 20px;
    cursor: pointer;
    font-size: 8rem;
    display: inline-block;
    font-family: sans-serif;
    text-shadow: 0 1px 0 #b7b7b7, 0 2px 0 #b7b7b7, 0 3px 0 #b7b7b7, 0 4px 0 #b7b7b7, 0 5px 0 #b7b7b7, 
    0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.5);
    animation: sky 0.6s ease infinite alternate;
}

h1 span:nth-child(2) { animation-delay: 0.1s;}
h1 span:nth-child(3) { animation-delay: 0.2s;}
h1 span:nth-child(4) { animation-delay: 0.3s;}
h1 span:nth-child(5) { animation-delay: 0.4s;}
h1 span:nth-child(6) { animation-delay: 0.5s;}
h1 span:nth-child(7) { animation-delay: 0.6s;}
h1 span:nth-child(8) { animation-delay: 0.7s;}
h1 span:nth-child(9) { animation-delay: 0.8s;}
h1 span:nth-child(10) { animation-delay: 0.9s;}
h1 span:nth-child(11) { animation-delay: 1s;}
h1 span:nth-child(12) { animation-delay: 1.1s;}
h1 span:nth-child(13) { animation-delay: 1.2s;}
h1 span:nth-child(14) { animation-delay: 1.3s;}
h1 span:nth-child(15) { animation-delay: 1.4s;}
h1 span:nth-child(16) { animation-delay: 1.5s;}

h1:hover span {
    animation-play-state: paused;
}

@keyframes sky {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc,
        0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 60px 30px rgba(0, 0, 0, 0.3);
    }
}