* {
    margin: 0%;
    padding: 0%;
}

html,body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(201, 201, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 320px;
    width: 220px;
    border: 1px solid black;
    background-color: black;
    border-radius: 8px;
    display: block;
}

#card1 {
    height: 65px;
    width: 219px;
    border: 1px solid black;
    background-color: rgb(44, 40, 40);
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle {
    display: grid;
    grid-template-columns: repeat(4, 45px); /* 4 buttons per line */
    gap:6px; /*buttons ke beech ka space*/
    margin-left: 13px;
    margin-top: 10px;
    text-align: center;
    font-style: oblique;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 30%;
    border: 1px solid white;
    color: white;
    display: block;
}

#box {
    margin-right: 40px;
}

#box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

#box4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

#box5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

#box6 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(159, 158, 158);
}

#box7 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
}

#box8 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
}

#box9 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
}

#box10 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

#box11 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
}

#box12 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
}

#box13 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
}

#box14 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

#box15 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
}

#box16 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
}

#box17 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
}

#box18 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

#box19 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(133, 30, 207);
}

#box20 {
    height: 40px;
    width: 90px;
    border-radius: 30px;
    background-color: rgb(65, 57, 57);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box21 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mediumslateblue;
}