*{
    margin:0%;
    padding:0%;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
    background-color: rgb(28, 100, 207);
    display: flex;
}
.shape{
    height: 300px;
    width: 250px;
    border: 1px solid white;
    background-color: white;
    border-radius: 4px;
    text-decoration: underline 2px;
    display: block;
}
h1{
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline 2px;
    margin-left: 80px;
}
#box1{
    height: 30px;
    width: 180px;
    border: 2px solid rgb(28, 100, 207);
    background-color: rgb(28, 100, 207);
    border-radius: 4px;
    color: white;
    margin-top: 12px;
    margin-left: px;
}
#box2{
    margin-left: 36px;
    margin-top: 15px;
}
h4{
    text-align: center;
}
#box3{
    height: 25px;
}
#box4{
    height: 25px;
    margin-top: 12px;
}
#box5{
    height: 25px;
    margin-top: 12px;
}
#box6{
    height: 25px;
    margin-top: 12px;
}
#box7{
    height: 25px;
    margin-top: 12px;
}
#box{
    margin-top: 10px;
    margin-left: 6px;
}
