* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #454545;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,'Trebuchet MS', sans-serif;
}

.container {
    width: 400px;
    height: 75px;
    border-radius: 10px;
    position: relative;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.container ul {
    width: 340px;
    display: flex;
    list-style: none;
}

.container ul li {
    width: 75px;
    height: 75px;
    z-index: 1;
    position: relative;
}

.container ul li a {
    width: 100%;
    font-weight: 500;
    text-align: center;
    position: relative;
    text-decoration: none;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container ul li a .icon {
    color: #333030;
    display: block;
    font-size: 1.5em;
    line-height: 75px;
    transition: 0.5s;
    text-align: center;
    position: relative;
}

.container ul li.active a .icon {
    transform: translateY(-32px);
}

.container ul li a .text {
    position: absolute;
    color: #b31da7;
    font-weight: 600;
    font-size: 1.2em;
    transition: 0.5s;
    letter-spacing: 0.05em;
    transform: translateY(20px);
    opacity: 0;
}

.container ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.circle {
    bottom: 50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    background: #70e000;
    border: 6px solid #454545;
    transition: 0.4s;
}

.circle::before {
    position: absolute;
    content: "";
    top: 46%;
    left: -27px;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border-top-right-radius: 14px;
    box-shadow: 1px -11px 0 0 #454545;
}

.circle::after {
    position: absolute;
    content: "";
    top: 46%;
    right: -26.5px;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border-top-left-radius: 14px;
    box-shadow: -1px -11px 0 0 #454545;
}

.container ul li:nth-child(1).active ~ .circle {
    transform: translateX(calc(65px * 0));
}

.container ul li:nth-child(2).active ~ .circle {
    transform: translateX(calc(65px * 1));
}

.container ul li:nth-child(3).active ~ .circle {
    left: 33px;
    transform: translateX(calc(65px * 2));
}

.container ul li:nth-child(4).active ~ .circle {
    left: 38px;
    transform: translateX(calc(65px * 3));
}

.container ul li:nth-child(5).active ~ .circle {
    left: 40px;
    transform: translateX(calc(65px * 4));
}