* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px rgb(236, 186, 196);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: rotate 8s ease-in infinite;
    cursor: pointer;
}

.circle1 {
    height: 570px;
    width: 570px;
    border: 2px solid gray;
}

.circle2 {
    height: 500px;
    width: 500px;
    border: 2px solid gray;
}

.circle3 {
    height: 430px;
    width: 430px;
    border: 2px solid gray;
}

.circle4 {
    height: 360px;
    width: 360px;
    border: 2px solid gray;
}

.circle5 {
    height: 290px;
    width: 290px;
    border: 2px solid gray;
}

.circle6 {
    height: 220px;
    width: 220px;
    border: 2px solid gray;
}

.circle7 {
    height: 150px;
    width: 150px;
    border: 2px solid gray;
}

.circle8 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid yellow;
    box-shadow: 0px 0px 20px 5px yellow;
    background-color: yellow;
}

/* Border par chhota circle */
.circle1::before {
    content: "";
    position: absolute;
    top: -8px;          
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: springgreen;
    box-shadow: 0 0 10px white;
}

.circle2::before {
    content: "";
    position: absolute;
    top: -8px;          
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: skyblue;
    box-shadow: 0 0 10px white;
}

.circle3::before {
    content: "";
    position: absolute;
    top: -8px;          
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: crimson;
    box-shadow: 0 0 10px white;
}

.circle4::before {
    content: "";
    position: absolute;
    top: -8px;          
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: salmon;
    box-shadow: 0 0 10px white;
}

.circle5::before {
    content: "";
    position: absolute;
    top: -8px;          
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: mediumvioletred;
    box-shadow: 0 0 10px white;
}

.circle6::before {
    content: "";
    position: absolute;
    top: -8px;           
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: orangered;
    box-shadow: 0 0 10px white;
}

.circle7::before {
    content: "";
    position: absolute;
    top: -8px;           
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #F0F0F0;
    box-shadow: 0 0 10px white;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}