* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("Image.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 400px;
    height: 500px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: Arial, Helvetica, sans-serif;
}

.element-box {
    width: 140px;
    height: 50px;
    margin: auto;
    background: #ffffff;
    border-radius: 0px 0px 20px 20px;
}

h1 {
    color: rgb(18, 18, 18);
    font-size: 40px;
}

.input-box {
    position: relative;
    margin: 35px 0px;
}

.input-box input {
    width: 80%;
    height: 50px;
    background: linear-gradient(rgba(255, 255, 255, 0.881), rgba(255, 255, 255, 0.784), transparent);
    border: none;
    color: black;
    font-size: 18px;
    border-radius: 50px;
    padding: 20px 40px 20px 20px;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.check-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.check-box a {
    color: #ffffff;
    text-decoration: none;
}

.register-link {
    color: #ffffff;
}

.register-link a {
    color: #e9e9e9;
    text-decoration: none;
}

.button {
    height: 50px;
    width: 310px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(rgba(255, 255, 255, 0.881), rgba(255, 255, 255, 0.784), transparent);
}