* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("Image.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    width: 400px;
    height: 500px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-family: Arial, Helvetica, sans-serif;
}

.element-box {
    width: 140px;
    height: 50px;
    margin: auto;
    background: #ffffff;
    border-radius: 0px 0px 15px 15px;
    position: relative;
}

.element-box h1 {
    font-size: 40px;
    font-weight: 600;
    color: black;
}

.element-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 white;
}

.element-box::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 white;
}

.input-box {
    position: relative; 
    width: 310px;
    margin: 25px auto;
}

.input-box input {
    width: 100%;
    height: 50px;
    padding: 20px 45px 20px 20px;
    border-radius: 50px;
    border: 1px solid white;
    font-size: 20px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.881),
        rgba(255, 255, 255, 0.784),
        transparent
    );
}

.input-box i {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 22px;
}

.check-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.check-box a {
    color: #ffffff;
    text-decoration: none;
}

.register-link {
    margin-top: 30px;
    color: #ffffff;
}

.register-link a {
    color: #ffffff;
    text-decoration: none;
}

.button {
    width: 310px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid white;
    margin-top: 30px;
    cursor: pointer;
    background: linear-gradient(
        rgba(255, 255, 255, 0.881), 
        rgba(255, 255, 255, 0.784), 
        transparent
    );
}

.icon-box {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon-box i {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: 1px solid white;
}

.fa-brands {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.881), 
        rgba(255, 255, 255, 0.784), 
        transparent
    );
    transition: box-shadow 0.3s linear 0.6s;
} 
    
.fa-brands:hover {
    box-shadow: 0px 0px 6px white;
}