* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("Image.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 400px;
    height: 500px;
    background-color: aquamarine;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .1);
    background: linear-gradient(#fff2, transparent);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
}

.input-box {
    position: relative;
    width: 300px;
}

.input-box input {
    width: 100%;
    height: 40px;
    /* padding-right: 40px; */
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.button {
    height: 40px;
    width: 300px;
    border-radius: 50px;
    border: none;
}