* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 400px;
    height: 500px;
    background-color: aquamarine;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .1);
    background: linear-gradient(#fff2, transparent);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.element-box {
    width: 140px;
    height: 50px;
    background: #ffffff;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

h1 {
    color: rgb(18, 18, 18);
    font-size: 40px;
}

.input-box {
    position: relative;
    /* width: 300px; */
    margin: 35px 0px;
}

.input-box input {
    width: 80%;
    height: 50px;
    /* padding-right: 40px; */
    background: linear-gradient(rgba(255, 255, 255, 0.881), rgba(255, 255, 255, 0.784), transparent);
    color: black;
    border: none;
    border-radius: 50px;
    padding: 20px 40px 20px 20px;
    font-size: 18px;
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.check-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.check-box a {
    color: #ffffff;
    text-decoration: none;
}

.register-link {
    color: #ffffff;
}

.register-link a {
    color: #e9e9e9;
    text-decoration: none;
}

.button {
    height: 50px;
    width: 310px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(rgba(255, 255, 255, 0.881), rgba(255, 255, 255, 0.784), transparent);

}