* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: rotate 2s cubic-bezier(0.16, 1.1, 0.62, 1.01) infinite;
}

.circle1 {
    height: 240px;
    width: 240px;
    border-top: 8px solid crimson;
    animation-delay: 0.1s;
}

.circle2 {
    height: 200px;
    width: 200px;
    border-top: 8px solid springgreen;
    animation-delay: 2s;
}

.circle3 {
    height: 160px;
    width: 160px;
    border-top: 8px solid skyblue;
    animation-delay: 4s;
}

.circle4 {
    height: 120px;
    width: 120px;
    border-top: 8px solid sandybrown;
    animation-delay: 6s;
}

.circle5 {
    height: 80px;
    width: 80px;
    border-top: 8px solid aquamarine;
    animation-delay: 8s;
}

.circle6 {
    height: 40px;
    width: 40px;
    border-top: 8px solid orangered;
    animation-delay: 10s;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}