* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;/ */
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
}

.circle1 {
    height: 200px;
    width: 200px;
    border-right: 8px solid skyblue;
    animation: rotate1 1s linear infinite;
}

.circle2 {
    height: 170px;
    width: 170px;
    border-left: 8px solid coral;
    animation: rotate2 1s linear infinite;
}

.circle3 {
    height: 150px;
    width: 150px;
    border-bottom: 8px solid springgreen;
    animation: rotate1 1s linear infinite;
}

.circle4 {
    height: 80px;
    width: 80px;
    border-top: 8px solid brown;
    animation: rotate2 1s linear infinite;
}

@keyframes rotate1 {
    from {
        transform: rotate(360deg);
    }
} 

@keyframes rotate2 {
    from {
        transform: rotate(-360deg);
    }
} 