* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: gray;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

ul li {
    font-weight: 600;
    list-style: none;
    margin: 0 5px;
}

ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: 0.5s;
    padding-right: 14px;
}

ul li a span {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: 0.5s;
}

ul li a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 210px;
    height: 80px;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}

ul li a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

ul li a::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}

.fa { margin-right: 10px; }

ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px) ;
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}

ul li:hover .fa {
    color: #fff;
}

ul li:hover span {
    color: #fff;
}
    
ul li:hover:nth-child(1) a {
    background: #008B8B;
}

ul li:hover:nth-child(1) a::before {
    background: #006D6F;
}

ul li:hover:nth-child(1) a::after {
    background: #01797b;
}

ul li:hover:nth-child(2) a {
    background: #22303c;
}

ul li:hover:nth-child(2) a::before {
    background: #182532;
}

ul li:hover:nth-child(2) a::after {
    background: #182734;
}

ul li:hover:nth-child(3) a {
    background: #1164B4;
}

ul li:hover:nth-child(3) a::before {
    background: #043e74;
}

ul li:hover:nth-child(3) a::after {
    background: #003262;
}

ul li:hover:nth-child(4) a {
    background: #e4405f;
}

ul li:hover:nth-child(4) a::before {
    background: #d81c3f;
}

ul li:hover:nth-child(4) a::after {
    background: #e46880;
}

ul li:hover:nth-child(5) a {
    background: #128C7E;
}

ul li:hover:nth-child(5) a::before {
    background: #096e63;
}

ul li:hover:nth-child(5) a::after {
    background: #076a5f;
}

ul li:hover:nth-child(6) a {
    background: #f31717;
}

ul li:hover:nth-child(6) a::before {
    background: #dc1616;
}

ul li:hover:nth-child(6) a::after {
    background: #e41b1b;
}

@media (max-width: 600px) {
    .main {
        background-color: rgb(187, 218, 230);
    }
    ul {
        flex-direction: column;
    }
    ul li {
        margin: 15px 0;
    }
}