* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background-color: #3f4b6e;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    position: relative;
    display: flex;
    transform: rotate(-30deg) skew(30deg);
    transform-style: preserve-3d;
    cursor: pointer;
}

ul li {
    list-style: none;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 20px;
    transition: 0.5s ease-in;
}

ul li::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    transform: skewX(-41deg);
}

ul li::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform: skewY(-49deg);
}

ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
    transition: 0.5s ease-out;
}

ul li:hover span {
    z-index: 1000;
    transition: 0.3s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

ul li:nth-child(1):hover { background: #24292E; }
ul li:hover:nth-child(1)::before { background: #2b2727; }
ul li:hover:nth-child(1)::after { background: #1a1818; }

ul li:nth-child(2):hover { background: #46d072; }
ul li:hover:nth-child(2)::before { background: #0ea03c; }
ul li:hover:nth-child(2)::after { background: #1b803b; }

ul li:nth-child(3):hover { background: #f13131; }
ul li:hover:nth-child(3)::before { background: #aa1b1b; }
ul li:hover:nth-child(3)::after { background: #941818;}

ul li:nth-child(4):hover { background: #0d0c0c; }
ul li:hover:nth-child(4)::before { background: #080707; }
ul li:hover:nth-child(4)::after { background: #0f0e0e; }

ul li:hover span:nth-child(1) {
    transform: translate(10px,-20px);
}

ul li:nth-child(1):hover span {
    background: #212b25 !important;
}

ul li:nth-child(2):hover span {
    background: #29ce5d !important;
}

ul li:nth-child(3):hover span {
    background: #f13838 !important;
}

ul li:nth-child(4):hover span {
    background: #000000 !important;
}