* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:black;
}

.loader {
    position:relative;
    width:200px;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.circle {
    position:absolute;
    width:200px;
    height:200px;
    border-top: 8px solid crimson;
    border-radius:50%;
    animation: sky 2s cubic-bezier(0, 0, 0.1, .99) infinite;
}

.loader span {
    color:white;
    font-size:20px;
    z-index:1;
}

@keyframes sky {
    from{ transform:rotate(0deg); }
    to{ transform:rotate(360deg); }
}