* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 12rem;
    font-weight: 900;
    background-image: url(images.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}